apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
data:
  {{ .Values.configMap.filename }}: |
    ---
    server:
      port: {{ .Values.app.port }}

    spring:
      datasource:
        url: {{ .Values.db.url }}
        username: {{ .Values.db.username }}

    currency:
      service:
        url: {{ .Values.external.muffinCurrency.url }}
    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always